<p>activity works!</p>

Nombre de pays{{arrayCountries.length}}

Nombre de participations:{{ arrayParticipations.length }} 
@if ( arrayParticipations.length >= 1) {
    @for (elementParticipation of arrayParticipations;track elementParticipation) {
        <app-participation [inputParticipation]="elementParticipation"></app-participation>
    }
}
@else {
    Pas de participations
}

<!-- 
@if (true) {
 
}


@if (false) {
@for (elementCountry of arrayCountries;track elementCountry) {
    {{elementCountry.id}}-{{countryId}}

    @if (elementCountry.id == countryId) {
            trouvé !

    {{elementCountry.arrayParticipations.length}}

        @for (elementParticipation of elementCountry.arrayParticipations;track elementParticipation) {
            step by step
            <app-participation [inputParticipation]="elementParticipation"></app-participation>
        }
    }
}
}

@if (false) {

    @if ( arrayCountries.length >= 1) {
        @for (elementCountry of arrayCountries;track elementCountry) {
            @if (elementCountry.id == countryId) {
                @for (elementParticipation of arrayParticipations;track elementParticipation) {
                    <app-participation [inputParticipation]="elementParticipation"></app-participation>
                }
            }
        }
    }
    @else {
        Pas de Pays
    }
}

-->

<!--

@for (elementParticipation of inputCountry.arrayParticipations;track elementParticipation) {
    <app-participation [inputParticipation]="elementParticipation"></app-participation>
}
}
-->